@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: auto;
}

.font-timesnewroman{
  font-family: 'Times New Roman', Times, serif;
}

.navbg{
  background: hsl(white, 50%, 50%);
  backdrop-filter: blur(5px);
}

.projectbg{
  background: hsl(white, 90%, 80%);
  backdrop-filter: blur(7px);
}


 .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: #8df0cc;
    bottom: 50px;
    transform: scaleX(0);
}

.wrapper {
  height: fit-content;
  font-family: monospace;
}

.font-monospace{
  font-family: monospace;
}

.font-impact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.typing-demo {
  width: auto;
  animation: typing 2s steps(20), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: Impact;
}

@keyframes typing {
  from {
    width: 0
  }
}

.blob1 {
  width: 500px;
  height: 500px;

  background: radial-gradient(
    circle at center,
    rgba(35, 45, 134, 0.8) 0%,
    rgba(35, 45, 134, 0.6) 30%,
    rgba(35, 45, 134, 0.3) 55%,
    rgba(35, 45, 134, 0) 75%
  );

  border-radius: 50%;
  opacity: 0.8 ;
  pointer-events: none;
}


.blob2 {
  width: 600px;
  height: 600px;

  background: radial-gradient(
    circle at center,
    rgba(35, 45, 134, 0.8) 0%,
    rgba(35, 45, 134, 0.6) 30%,
    rgba(35, 45, 134, 0.3) 55%,
    rgba(35, 45, 134, 0) 75%
  );

  border-radius: 50%;
  z-index: -1 !important; 
  opacity: 0.8 ;
  pointer-events: none;
}



.blob3 {
  width: 400px;
  height: 400px;

  background: radial-gradient(
    circle at center,
    rgba(35, 45, 134, 0.8) 0%,
    rgba(35, 45, 134, 0.6) 30%,
    rgba(35, 45, 134, 0.3) 55%,
    rgba(35, 45, 134, 0) 75%
  );

  border-radius: 50%;
  opacity: 0.8 ;
  pointer-events: none;
}


.blob4 {
  width: 400px;
  height: 400px;

  background: radial-gradient(
    circle at center,
    rgba(35, 45, 134, 0.8) 0%,
    rgba(35, 45, 134, 0.6) 30%,
    rgba(35, 45, 134, 0.3) 55%,
    rgba(35, 45, 134, 0) 75%
  );

  border-radius: 50%;
  opacity: 0.8 ;
  pointer-events: none;
}


.checkitoutbg{
 background: linear-gradient(
    135deg,
    rgba(35, 45, 134, 0.8) 0%,
    rgba(35, 45, 134, 0.6) 30%,
    rgba(35, 45, 134, 0.3) 75%,
    rgba(35, 45, 134, 0) 100%
  );
    background-color: rgba(0, 0, 0, 0.4);
  
  /* Apply the blur effect to the background behind the element */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  
  /* Additional styling for the box itself */
  color: white;
  text-align: center;
  backdrop-filter: blur(100px);


}


